body {
    display: inline-block;
    /* margin: auto; */
    background-color: rgb(126, 123, 118);
    color: black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    
  }


.cell {
  background-color:  whitesmoke;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
  }
  .restartBtn{
      height: 45px;
      width: 60px;
    background-color: gray; 
  }

#gameDecision{
  display: none;
}